.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}
    
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
  background-image: url("../img/header-LT.png");
  background-position: left;
  background-repeat: no-repeat;
  background-color: #f0ffe6;
  background-size: contain;
}

blockquote {
  border-left: 0px;
}

blockquote p {
  color: #8F0070;
  padding-left: 500px;
  text-align: center;
}

/* Add a gray background color and some padding to the footer */
.jumbotron footer {
  color: #8f0475;
  padding: 0px;
}

#section1 {color: #fff; background-color: #ffd9b3;}
#section2 {color: #fff; background-color: #ffd9b3;}
#section3 {color: #fff; background-color: #ffd9b3;}
#section41 {color: #fff; background-color: #ffd9b3;}
#section42 {color: #fff; background-color: #ffd9b3;}

body > footer {
  text-align: center;
  background-color: #f2f2f2;
}