<section class="bs-section">
    <div class="container-fluid">
        <div class="bs-tab">
            <div class="bs-tab_caption">Блог</div>
            <a ng-if="applicationState.auth.isAuthenticated()" href="blog/0" class="bs-tab_add_button">Добавить</a>
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="bs-bgAside">
                        <div class="bs-titleAsideElem">
                            <h5>
                                <i class="fa fa-thumbs-up" aria-hidden="true">
                                    Популярное</i>
                            </h5>
                        </div>
                        <div class="bs-bodyAsideElem">
                            Блог посты
                        </div>
                        <div class="bs-titleAsideElem">
                            <h5>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                Теги</h5>
                        </div>
                        <div class="bs-bodyAsideElem">
                            <span class="label label-primary">Primary</span>
                            <span class="label label-success">Success</span>
                            <span class="label label-info">Info</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <!-- blog posts -->
                <div class="col-md-9 col-sm-7">
                    <div class="bs-article" ng-repeat="entry in blog_entries">
                        <article class="col-md-5 col-sm-12 bs-blog-entry bs-blog-entry-item">
                            <header class="bs-blog-entry-header">
                                <h2>
                                    {{ entry.header }}
                                </h2>
                            </header>
                            <section>
                                <div class="row">
                                    <img class="col-xs-12 col-sm-12 bs-blog-entry-preview" src="{{ entry.image }}">
                                    <div class="col-sm-12" id="description-container">
                                        <div class="bs-blog-entry-description" ng-bind-html="entry.text"></div>

                                    </div>
                                </div>
                                <div class="row bs-blog-entry-footer">
                                    <a class="bs-blog-entry-read-more" href="blog/{{ entry.id }}">
                                        Читать дальше&nbsp;<i class="fa fa-arrow-right"></i>
                                    </a>
                                    <section class="col-xs-12 col-sm-12 bs-blog-entry-date">
                                        <div class="col-xs-5 col-sm-5 bs-blog-entry-author">
                                            <img class="bs-avatar" src="/static/img/avatar32x32.png">
                                            <a href="">{{ entry.author.username }}</a>
                                        </div>
                                        <div class="col-xs-7 col-sm-7">
                                            <i class="fa fa-calendar"></i>
                                            <time datetime="{{ entry.creationDateTime | date:'yyyy-MM-dd' }}">
                                                {{ entry.creationDateTime | date:'EEE, d MMM y г.' }}
                                            </time>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>

                <!-- end blog posts -->
            </div>

            <!-- template pagination -->
            <div style="text-align: center">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
