<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<link href="/static/css/cart.css" rel="stylesheet">

<div class="bs_modal-header">
    <button type="button" class="btn bs_circleButton" ng-click="close()">x</button>
</div>
<div class="modal-header">
    <h3 class="modal-title">Ваша корзина</h3>
</div>
<div class="modal-body">
    <table class="table">
        <thread><tr>
            <th></th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена за штуку</th>
            <th>Цена</th>
        </tr></thread>
        <tbody>
            <tr ng-repeat="item in items" class="cart-item">
                <td><img class="img-rounded" width="50px" height="50px" src="{{ item.image }}"></td>
                <td >{{ item.name }}</td>
                <td align="center"><input type="number" min="0" max="{{ item.in_stock }}" ng-model="item.quantity" ng-change="onBookInCartChange(item)"></td>
                <td align="center">{{ item.price }} {{ item.currency.name_short }}</td>
                <td align="center">{{ item.quantity*item.price }} {{ item.currency.name_short }}</td>
                <td><button class="btn" type="button" ng-click="removeItem($index)">X</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th style="text-align: center">Итого:</th>
                <td align="center">{{ summary }} руб.</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" >Оформить заказ</button>
    <button class="btn btn-warning" type="button" ng-click="close()">Закрыть</button>
</div>
