<link href="/static/css/contact.css" rel="stylesheet">
<main>
    <div id="contact" class="container">
    <h3 class="text-center">Наши контакты</h3>
    <p class="text-center"> <em>Будем рады вам!</em></p>

    <div class="row">
        <!-- Communication -->
        <div class="col-md-4">
              <p>Для связи:</p>
              <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>Россия, г. Владимир</p>
              <p><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> Телефон: +79043234589</p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i>Почта: <a href="mainto:library2.1@mail.com">library2.1@mail.com</a></p>

              <ul class="list-inline">
                <li><a id="vk" href="#"><i class="fa fa-vk fa-2x"></i></a></li>
                <li><a id="youtube" href="#"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                <li><a id="instagram" href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                <li><a id="google-plus" href="#"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
              </ul>
        </div>


        <!-- Form -->
        <div class="col-md-8">
            <form name="myForm" novalidate>

                <div class="row">
                    <div id="input-name" class="col-sm-6 form-group">
                        <input class="form-control" type="text" name="name" ng-model="name" placeholder="Имя..." required>
                        <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                            <span ng-show="myForm.name.$error.required">Имя обязательное поле</span>
                        </span>
                    </div>

                    <div id="input-email" class="col-sm-6 form-group">
                        <input class="form-control" type="email" name="email" ng-model="email" placeholder="Почта..." required>
                        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                            <span ng-show="myForm.email.$error.required">Почта обязательно поле</span>
                            <span ng-show="myForm.email.$error.email">Некорректная почта</span>
                        </span>
                    </div>

                    <textarea class="form-control" id="comments" name="comments" placeholder="Комментарий..." rows="5"></textarea>
                    <div class="row">
                        <div class="col-md-12 form-group">
                                <button class="btn pull-right" type="submit">Послать сообщение</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</main>

<hr>
<div id="googleMap"></div>
<hr>

