<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<link rel="stylesheet" type="text/css" href="/static/css/aside.css">
<link rel="stylesheet" type="text/css" href="/static/css/section.css">

<section class="bs_section">

    <div class="container">
        <div class="bs_tab">
            <div class="bs_tab_caption">Новинки</div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="bs_bgAside">
                        <div class="bs_titleAsideElem">
                            <h5><i class="fa fa-thumbs-up" aria-hidden="true"> Популярное</i></h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            книги
                        </div>
                        <div class="bs_titleAsideElem">
                            <h5><i class="fa fa-tags" aria-hidden="true"></i> Теги</h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            <span class="tag tag-primary">Primary</span>
                            <span class="tag tag-success">Success</span>
                            <span class="tag tag-info">Info</span>
                            <span class="tag tag-warning">Warning</span>
                            <span class="tag tag-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9" >
                    <!-- start carousel -->
                    <div ng-controller="newsController as newBooks">
                        <div class="slideshow-container">
                            <div class="mySlides bs_fadeSlide">
                                <div class="numbertext">1 / 3</div>
                                <img class="bs_slideImg" src="/static/img/bg.jpg" style="width:100%">                    
                                <div class="text">Пушкин А.С. Евгений Онегин</div>
                            </div>

                            <div class="mySlides bs_fadeSlide">
                                <div class="numbertext">2 / 3</div>
                                <img class="bs_slideImg" src="/static/img/bg2.jpg" style="width:100%">                    
                                <div class="text">Толстой Л.В. Война и мир</div>
                            </div>

                            <div class="mySlides bs_fadeSlide">
                                <div class="numbertext">3 / 3</div>
                                <img class="bs_slideImg" src="/static/img/bg3.jpg" style="width:100%">                    
                                <div class="text">Тургенев И.С. Отцы и дети</div>
                            </div>

                            <a class="prev" ng-click="newBooks.plusSlides(-1)">&#10094;</a>
                            <a class="next" ng-click="newBooks.plusSlides(1)">&#10095;</a>
                        </div>
                        <br>                    

                        <div style="text-align:center">
                            <span class="dot" ng-click="newBooks.currentSlide(1)"></span>
                            <span class="dot" ng-click="newBooks.currentSlide(2)"></span>
                            <span class="dot" ng-click="newBooks.currentSlide(3)"></span>
                        </div>
                    </div>
                        
                    <!-- end carousel -->
                </div>
            </div>
        </div>
        

        <div class="bs_tab">
            <div class="bs_tab_caption">Новости</div>
            <div class="row">
               <div class="col-sm-3">
                <div class="bs_bgAside">
                    <div class="bs_titleAsideElem">
                        <h5><i class="fa fa-newspaper-o" aria-hidden="true"></i> Дата новости</h5>
                    </div>
                    <div class="bs_bodyAsideElem">
                        <a href="#" class="bs_dates">&ensp;2016</a>
                        <a href="#" class="bs_dates">&ensp;2015</a>
                        <a href="#" class="bs_dates">&ensp;2014</a>
                    </div>
                    <div class="bs_titleAsideElem">
                        <h5><i class="fa fa-thumbs-up" aria-hidden="true"> Популярное</i></h5>
                    </div>
                    <div class="bs_bodyAsideElem">
                        новости
                    </div>
                    <div class="bs_titleAsideElem">
                        <h5><i class="fa fa-tags" aria-hidden="true"></i> Теги</h5>
                    </div>
                    <div class="bs_bodyAsideElem">
                        <span class="tag tag-primary">Primary</span>
                        <span class="tag tag-success">Success</span>
                        <span class="tag tag-info">Info</span>
                        <span class="tag tag-warning">Warning</span>
                        <span class="tag tag-danger">Danger</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div ng-controller="homeController as posts">
                    <div class="post bs_news" ng-repeat="post in posts.news">
                        <dl class="article-info muted">
                            <dt class="article-info-term">Details</dt>
                            <dd class="category-name">
                                Важность:
                                <span class="tag tag-default">{{post.tags}}</span>
                                <span class="tag tag-primary">Primary</span>
                                <span class="tag tag-success">Success</span>
                                <span class="tag tag-danger">Danger</span>
                            </dd>
                            <dd class="published"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                <time datetime="2016-05-11T13:39:26+00:00" itemprop="datePublished">Опубликовано: {{post.date}}</time>
                            </dd>
                        </dl>
                        <div class="main-post">
                            <header>
                                <h3>{{post.title}}</h3>
                            </header>
                            <article class="bs_newsArticle">{{post.content}}</article>
                        </div>
                        <div class="author-news">
                            <p class="author">
                                <span>{{post.author}}</span> <i class="fa fa-user" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- template pagination -->
        <div style="text-align: center">
            <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
        </div>

    </div>

</div>

</section>
