<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<link rel="stylesheet" type="text/css" href="/static/css/_style.css">

<section class="bs_section">

    <div class="container-fluid">
        <div class="bs_tab">
            <div class="bs_tab_caption">Новинки</div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="bs_bgAside">
                        <div class="bs_titleAsideElem">
                            <h5>
                                <i class="fa fa-thumbs-up" aria-hidden="true">
                                    Популярное</i>
                            </h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            книги
                        </div>
                        <div class="bs_titleAsideElem">
                            <h5>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                Теги</h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            <span class="label label-primary">Primary</span>
                            <span class="label label-success">Success</span>
                            <span class="label label-info">Info</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!-- start carousel -->
                    <div class="bs_carousel" ng-controller="newsController as newBooks">
                        <div class="slideshow-container">
                            <div class="mySlides bs_fadeSlide">
                                <div class="numbertext">1 / 3</div>
                                <img class="bs_slideImg" src="/static/img/bg.jpg" style="width:100%">
                                <div class="text">Пушкин А.С. Евгений Онегин</div>
                            </div>

                            <div class="mySlides bs_fadeSlide">
                                <div class="numbertext">2 / 3</div>
                                <img class="bs_slideImg" src="/static/img/bg2.jpg" style="width:100%">
                                <div class="text">Толстой Л.В. Война и мир</div>
                            </div>

                            <div class="mySlides bs_fadeSlide">
                                <div class="numbertext">3 / 3</div>
                                <img class="bs_slideImg" src="/static/img/bg3.jpg" style="width:100%">
                                <div class="text">Тургенев И.С. Отцы и дети</div>
                            </div>

                            <a class="prev" ng-click="newBooks.plusSlides(-1)">&#10094;</a>
                            <a class="next" ng-click="newBooks.plusSlides(1)">&#10095;</a>
                        </div>
                        <br>
                        <div style="text-align:center">
                            <span class="dot" ng-click="newBooks.currentSlide(1)"></span>
                            <span class="dot" ng-click="newBooks.currentSlide(2)"></span>
                            <span class="dot" ng-click="newBooks.currentSlide(3)"></span>
                        </div>
                        <br>
                    </div>

                    <!-- end carousel -->
                </div>
            </div>
        </div>

        <div class="bs_tab">
            <div class="bs_tab_caption">Новости</div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="bs_bgAside">
                        <div class="bs_titleAsideElem">
                            <h5>
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                Дата новости</h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            <a href="#" class="bs_dates">&ensp;2016</a>
                            <a href="#" class="bs_dates">&ensp;2015</a>
                            <a href="#" class="bs_dates">&ensp;2014</a>
                        </div>
                        <div class="bs_titleAsideElem">
                            <h5>
                                <i class="fa fa-thumbs-up" aria-hidden="true">
                                    Популярное</i>
                            </h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            новости
                        </div>
                        <div class="bs_titleAsideElem">
                            <h5>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                Теги</h5>
                        </div>
                        <div class="bs_bodyAsideElem">
                            <span class="label label-primary">Primary</span>
                            <span class="label label-success">Success</span>
                            <span class="label label-info">Info</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!-- template pagination -->
                    <div ng-controller="paginationCtrl">
                        <div id="content">
                            <div ng-controller="homeController as posts">
                                <div class="post bs_news" ng-repeat="post in posts.news | startFrom: startingItem() | limitTo: itemsPerPage">
                                    <dl class="article-info muted">
                                        <dt class="article-info-term">Details</dt>
                                        <dd class="category-name">
                                            <span class="label label-default">{{post.tags}}</span>
                                            <span class="label label-primary">Primary</span>
                                            <span class="label label-success">Success</span>
                                            <span class="label label-danger">Danger</span>
                                        </dd>
                                        <dd class="published">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <time datetime="2016-05-11T13:39:26+00:00" itemprop="datePublished">Опубликовано:
                                                {{post.date}}</time>
                                        </dd>
                                    </dl>
                                    <div class="main-post">
                                        <header>
                                            <h3>{{post.title}}</h3>
                                        </header>
                                        <article class="bs_newsArticle">{{post.content}}</article>
                                    </div>
                                    <div class="author-news">
                                        <p class="author">
                                            <span>{{post.author}}</span>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="pagination" class="row">
                                <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
                                <span>{{currentPage+1}}
                                    из
                                    {{numberOfPages()}}</span>
                                <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
