<section class="bs-section">
    <div class="bs-container">
        <div class="bs-tab">
            <div class="bs-tab-caption">Новости</div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- template pagination -->
                    <div ng-controller="paginationCtrl">
                        <div id="content">
                            <div ng-controller="homeController as posts">
                                <div class="post bs-news" ng-repeat="post in posts.news | startFrom: startingItem() | limitTo: itemsPerPage">
                                    <dl class="article-info muted">
                                        <dt class="article-info-term">Details</dt>
                                        <dd class="category-name">
                                            <span class="label label-default">{{post.tags}}</span>
                                        </dd>
                                        <dd class="published">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <time datetime="2016-05-11T13:39:26+00:00" itemprop="datePublished">Опубликовано:
                                                {{post.date}}</time>
                                        </dd>
                                    </dl>
                                    <div class="main-post">
                                        <header>
                                            <h3>{{post.title}}</h3>
                                        </header>
                                        <article class="bs-newsArticle">{{post.content}}</article>
                                    </div>
                                    <div class="author-news">
                                        <p class="author">
                                            <span>{{post.author}}</span>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="pagination" class="row">
                                <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
                                <span>{{currentPage+1}}
                                    из
                                    {{numberOfPages()}}</span>
                                <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
