<link rel="stylesheet" type="text/css" href="/static/css/modal.css">

<div id="modalDialog-bg" ng-cloak>
	<div id="modalDialog">
		<div class="bs_modal-header">
			<button type="button" class="btn btn-outline-info" ng-click="$logout.close()">&times;</button>
		</div>
		<div class="bs_modal-content">
            <h2>Вы действительно хотите выйти?</h2>
            <button type="submit" class="btn btn-primary bs_btn" ng-click="$logout.submit()">Выход</button>
            <button type="submit" class="btn btn-primary bs_btn" ng-click="$logout.close()">Отмена</button>
		</div>
		<div class="bs_modal-footer">
			<a href="">Забыли пароль или логин?</a>
			<a href="#registration">Не имеете аккаунта?</a>
		</div>
	</div>
</div>

