<link rel="stylesheet" type="text/css" href="/static/css/modal.css">

<div class="bs-modalDialog-bg" ng-cloak>
	<div class="bs-modalDialog">
		<div class="bs-modal-header">
			<button type="button" class="btn bs-circleButton" ng-click="$logout.close()">x</button>
		</div>
		<div class="bs-modal-content">
            <h2>Вы действительно хотите выйти?</h2>
            <button type="submit" class="btn btn-primary bs-btnModal" ng-click="$logout.submit()">Выход</button>
            <button type="submit" class="btn btn-primary bs-btnModal" ng-click="$logout.close()">Отмена</button>
		</div>
		<div class="bs-modal-footer">
			<a href="">Забыли пароль или логин?</a>
			<a href="#registration">Не имеете аккаунта?</a>
		</div>
	</div>
</div>

