<section class="bs-section">
    <div id="bs-product" class="bs-container" ng-controller="productDetailsController">
        <div class="bs-tab">
            <div class="bs-tab-caption">Книга</div>
            <div class="row">
                <div class="info-book">
                    <div class="col-md-4">
                        <img class="bs-book" src="{{ book.image }}" width="250px" height="300px">
                        <p class="bs-price"><strong>Цена: {{book.price}} {{ book.currency.name_short }}</strong></p>
                        <p class="bs-status">На складе:<strong> {{ book.in_stock }}</strong></p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="quantity">Количество:</label>
                                <input type="number" class="form-control" name="quantity" min="1" max="{{ book.in_stock }}" ng-model="quantity">
                            </div>
                            <button class="btn btn-success" ng-click="addToCart();">Купить</button>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <h4>{{book.name}}</h4>
                        <h4>{{book.author.name}}</h4>
                        <table>
                            <tr>
                                <td>Жанр:</td>
                                <td><span ng-repeat="genre in book.genres">{{ genre.name }}{{ $last ? '' : ', ' }}</span></td>
                            </tr>
                            <tr>
                                <td>Издательство:</td>
                                <td>{{ book.publishing_house }}</td>
                            </tr>
                            <tr>
                                <td>Тираж:</td>
                                <td>{{ book.circulation }}</td>
                            </tr>
                            <tr>
                                <td>Возрастные ограничения:</td>
                                <td>{{ book.age_restriction.short }}</td>
                            </tr>
                            <tr>
                                <td>Формат:</td>
                                <td>{{ book.format }}</td>
                            </tr>
                            <tr>
                                <td>Год:</td>
                                <td>{{ book.year }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <h4>Описание:</h4>
                        <p class="bs-description">{{ book.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-tab">
            <div class="bs-tab-caption">Комментарии</div>
            <div class="row">
                <comments-component book="book" app-state="applicationState" ng-if="book"></comments-component>
            </div>
        </div>
    </div>
</section>
