<link href="/static/css/shop.css" rel="stylesheet">

<main ng-app="BookStoreApp" ng-controller="shopController">
    <div class="container">
        <div class="row">
				<aside>
					<div class="container sidebar-left col-md-3">
						<div class="row">
							<div class="categories pull-left">
								<h3 class="categories-title"><span>Категории</span></h3>
								<div class="list-group">
									<a href="#" class="list-group-item active">
										Роман
									</a>
									<a href="#" class="list-group-item">Анархизм</a>
									<a href="#" class="list-group-item">Психология</a>
									<a href="#" class="list-group-item">Фэнтези</a>
									<a href="#" class="list-group-item">История</a>
								</div>
							</div>

							<div class="price pull-left">
								<h3 class="price-title"><span>Цена</span></h3>
									<div id="price-bg">
										<p>
											<label for="amount">Price range:</label>
											<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
										</p>

										<div id="slider-range"></div>
									</div>
							</div>

							<div class="cart pull-left">
								<div class="module-inner">
									<h3 class="cart-title"><span>Корзина</span></h3>
									<div class="module-ct">
										<div id="store-cart">
											No items in cart
											<div class="minicart-button">
												<input type="button" class="btn btn-primary button" onclick="window.location='/bookstore/index.php/my-cart'" value="View Cart">
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</aside>

	            <div class="col-md-9">
                    <div class="col-xs-12 col-sm-12 sort">
                        <span>Сортировать по: </span>
                        <a href="#" class="sortby curr desc" onclick="sorting('name_asc')">названию</a>
                        <a href="#" class="sortby" onclick="sorting('price_asc')">цене</a>
                        <a href="#" class="sortby" onclick="sorting('popularity_asc')">популярности</a>

                    </div>
                    
	                <div class="row">

						<div class="container">

							<div class="row">

								<div ng-repeat="item in products" class="col-sm-3">
									<div class="thumbnail">
										<img src="{{item.image}}" alt="image">
										<div class="caption">
											<h4>{{ item.name }}</h4>
										</div>	
									</div>
								</div>

							</div>

							<div class="pagination-wrap">
								<ul class="pagination">
									<li ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
								</ul>
							</div>

						</div>

	                </div>

	            </div>

	        </div>
    </div>

<!-- /.container -->
</main>

<div class="container">

    <div class="row">



    </div>
</div>


<hr>


<div class="container">
    <div class="row">
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>
</div>
