<section class="bs-section">
    <div class="bs-container" ng-controller="storeController as store">
        <div class="bs-tab">
            <div class="bs-tab-caption">Магазин</div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="sortController as sort">
                        <div class="bs-sort-group">
                            <span>Сортировать:
                            </span>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openAuthor()">{{sort.sortRating}} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                <div id="menuAuthor" class="dropdown-content">
                                    <a href="">По возрастанию</a>
                                    <a href="">По убыванию</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openAuthor()">{{sort.sortAuthor}} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                <div id="menuAuthor" class="dropdown-content">
                                    <a href="">[А-Я]</a>
                                    <a href="">[Я-А]</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openPrice()">{{sort.sortPrice}} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                <div id="menuPrice" class="dropdown-content">
                                    <a href="">По возрастанию</a>
                                    <a href="">По убыванию</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openName()">{{sort.sortName}} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                <div id="menuName" class="dropdown-content">
                                    <a href="">[А-Я]</a>
                                    <a href="">[Я-А]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bs-search-book">
                        <div class="bs-search-form" id="SearchBook">
                            <input class="bs-search-form-input" type="text" placeholder="Найти книгу...">
                            <button class="bs-search-form-button" type="button" ng-click="store.searchBook()">
                                <i class="fa fa-search" aria-hidden="true"></i> Поиск
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="bs-bg-aside">
                        <!-- жанр -->
                        <div ng-controller="asideController as aside">
                            <div class="bs-title-aside-elem">
                                <h5>
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    Жанр</h5>
                            </div>
                            <div class="bs-body-aside-elem">
                                <div ng-repeat="category in listCategories">
                                    <div class="checkbox">
                                        <input class="bs-check" id="{{category.id}}" type="checkbox" name="check" value="{{category.selected}}" ng-model="category.selected" ng-change="aside.onSelectionChange(category)">
                                        <label class="bs-label" for="{{category.id}}">{{category.name}}</label>
                                    </div>
                                </div>
                                <!-- filter -->
                                <strong>Фильтр:</strong>
                                <div>
                                    <div class="bs-chipsCategories">
                                        <div ng-repeat="category in listCategories | inArray:listActiveCategories:'id'" class="bs-chips">
                                            <div class="bs-chip">
                                                {{ category.name }}
                                                <span class="bs-iconChip">
                                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="bs-clearFilterCategories col-sm-6">
                                            <a href="" ng-click="aside.clearCategoryActiveList();">Сброс</a>
                                        </div>
                                        <div class="bs-clearFilterCategories col-sm-6">
                                            <a href="" ng-click="store.queryBooks({genres: listActiveCategories.join()});">Отфильтровать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- цена -->
                        <div class="bs-title-aside-elem">
                            <h5>
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                Цена</h5>
                        </div>
                        <div class="bs-body-aside-elem" ng-controller="sliderController">
                            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue"
                                      rz-slider-options="slider.options">
                            </rzslider>
                            <div class="bs-priceInputs">
                                <label>от
                                </label>
                                <!-- Todo: если ввести в input не работает слайдер! -->
                                <input type="number" name="prace">
                                <label>до
                                </label>
                                <input type="number" name="prace">
                            </div>
                        </div>
                        <!-- теги -->
                        <div class="bs-title-aside-elem">
                            <h5>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                Теги</h5>
                        </div>
                        <div class="bs-body-aside-elem" ng-controller="tagsController as ctrl">
                            <span class="label label-primary" style="background-color: {{ tag.color }}; margin-right: 5px;" ng-repeat="tag in ctrl.tags">{{ tag.value }}</span>
                        </div>
                    </div>
                </div>
                <!-- книги -->
                <div class="col-sm-6 col-md-8 col-lg-9" ng-controller="booksController">
                    <div class="col-sm-12 col-md-4" ng-repeat="item in products">
                        <div class="bs-card-book">
                            <img class="img-responsive bs-img" src="{{ item.image }}" alt="Card image cap">
                            <div class="card-block">
                                <a href="store/{{item.id}}">
                                    <h4>{{ item.name }}</h4>
                                </a>
                                <p>{{ item.author.name }}</p>
                                <p>{{ item.price }}
                                    <i class="fa fa-rub" aria-hidden="true"></i>
                                </p>
                                <p>
                                    <!-- заменить на звезды -->
                                    Рейтинг: {{ item.rating }}
                                </p>
                                <button class="bs-btn-card" ng-click="addToCart(item)">
                                    <i class="fa" ng-class="isActive(item) == false ? 'fa-cart-arrow-down bs-btnCardActive' : 'fa-cart-plus'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-wrap">
                <ul class="pagination">
                    <li class="page-item" ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}">
                        <a ng-bind-html="page.name" class="page-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
