<section class="bs-section">
    <div class="container-fluid" ng-controller="storeController as store">
        <div class="bs-tab">
            <div class="bs-tab_caption">Магазин</div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="sortController as sort">
                        <div class="bs-sortGroup">
                            <span>Сортировать:
                            </span>
                            <!-- Есть select стандартный элемент! -->
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openAuthor()">{{sort.sortRating}}</button>
                                <div id="menuAuthor" class="dropdown-content">
                                    <!-- полая звезда: <i class="fa fa-star-o" aria-hidden="true"></i> -->
                                    <!-- на половну заполненная: <i class="fa fa-star-half-o" aria-hidden="true"></i> -->
                                    <a href="">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openAuthor()">{{sort.sortAuthor}}</button>
                                <div id="menuAuthor" class="dropdown-content">
                                    <a href="">[А-Я]</a>
                                    <a href="">[Я-А]</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openPrice()">{{sort.sortPrice}}</button>
                                <div id="menuPrice" class="dropdown-content">
                                    <a href="">По возрастанию</a>
                                    <a href="">По убыванию</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropbtn dropdown-toggle" ng-click="sort.openName()">{{sort.sortName}}</button>
                                <div id="menuName" class="dropdown-content">
                                    <a href="">[А-Я]</a>
                                    <a href="">[Я-А]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="bs-bgAside">
                        <!-- жанр -->
                        <div ng-controller="asideController as aside">
                            <div class="bs-titleAsideElem">
                                <h5>
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    Жанр</h5>
                            </div>
                            <div class="bs-bodyAsideElem">
                                <div ng-repeat="category in listCategories">
                                    <div class="checkbox">
                                        <input class="bs-check" id="{{category.id}}" type="checkbox" name="check" value="{{category.selected}}" ng-model="category.selected" ng-change="aside.onSelectionChange(category)">
                                        <label class="bs-label" for="{{category.id}}">{{category.name}}</label>
                                    </div>
                                </div>
                                <!-- filter -->
                                <strong>Фильтр:</strong>
                                <div>
                                    <div class="bs-chipsCategories">
                                        <div ng-repeat="category in listCategories | inArray:listActiveCategories:'id'" class="bs-chips">
                                            <div class="bs-chip">
                                                {{ category.name }}
                                                <span class="bs-iconChip">
                                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="bs-clearFilterCategories col-sm-6">
                                            <a href="" ng-click="aside.clearCategoryActiveList();">Сброс</a>
                                        </div>
                                        <div class="bs-clearFilterCategories col-sm-6">
                                            <a href="" ng-click="store.queryBooks({genres: listActiveCategories.join()});">Отфильтровать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- цена -->
                        <div class="bs-titleAsideElem">
                            <h5>
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                Цена</h5>
                        </div>
                        <div class="bs-bodyAsideElem" ng-controller="sliderController">
                            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue"
                                      rz-slider-options="slider.options">
                            </rzslider>
                            <div class="bs-priceInputs">
                                <label>от
                                </label>
                                <!-- Todo: если ввести в input не работает слайдер! -->
                                <input type="number" name="prace">
                                <label>до
                                </label>
                                <input type="number" name="prace">
                            </div>
                        </div>
                        <!-- теги -->
                        <div class="bs-titleAsideElem">
                            <h5>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                Теги</h5>
                        </div>
                        <div class="bs-bodyAsideElem" ng-controller="tagsController as ctrl">
                            <span class="label label-primary" style="background-color: {{ tag.color }}; margin-right: 5px;" ng-repeat="tag in ctrl.tags">{{ tag.value }}</span>
                        </div>
                    </div>
                </div>
                <!-- книги -->
                <div class="col-sm-6 col-md-8 col-lg-9" ng-controller="booksController">
                    <div class="col-sm-12 col-md-6 col-lg-3" ng-repeat="item in products">
                        <div class="card">
                            <img class="img-fluid" src="{{ item.image }}" alt="Card image cap">
                            <div class="card-block">
                                <a href="store/{{item.id}}">
                                    <h5>{{ item.name }}</h5>
                                </a>
                                <p>{{ item.author.name }}</p>
                                <p>{{ item.price }}
                                    <i class="fa fa-rub" aria-hidden="true"></i>
                                </p>
                                <p>
                                    <!-- заменить на звезды -->
                                    Рейтинг: {{ item.rating }}
                                </p>
                                <button class="btn-card" ng-click="addToCart(item)">
                                    <i class="fa" ng-class="isActive(item) == false ? 'fa-cart-arrow-down bs-btnCardActive' : 'fa-cart-plus'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-wrap">
                <ul class="pagination">
                    <li class="page-item" ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}">
                        <a ng-bind-html="page.name" class="page-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
