*/__pycache__/
main_app/__pycache__/
.idea/
logs/
uwsgi.ini
uwsgi_params
static/libs/
static/admin/
static/rest_framework/
*/migrations/
runserver.sh
media/
nginx.conf
node_modules
static/generated/
*/private_settings.py
*/configuration_settings.py
