<!DOCTYPE html>
<html ng-app="BookStoreApp">
    <head>
        <title>Book store</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Styles: -->
        <!-- bootstrap -->
        <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
        <!-- font-awesome -->
        <link rel="stylesheet" type="text/css" href="/static/libs/font-awesome/css/font-awesome.min.css">
        <!-- rzslider -->
        <link rel="stylesheet" type="text/css" href="/static/libs/angularjs-slider/dist/rzslider.min.css">
        <!-- bundle styles -->
        <link rel="stylesheet" type="text/css" href="./static/generated/css/bundle.min.css">

        <!-- Scripts: -->
        <!-- jQuery -->
        <script src="/static/libs/jQuery/dist/jquery.min.js" crossorigin="anonymous"></script>
        <!-- angular -->
        <script src="/static/libs/angular/angular.min.js"></script>
        <script src="/static/libs/angular-route/angular-route.min.js"></script>
        <script src="/static/libs/angular-resource/angular-resource.min.js"></script>
        <script src="/static/libs/angular-animate/angular-animate.min.js"></script>
        <script src="/static/libs/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/static/libs/angular-locale-ru/angular-locale_ru.js"></script>
        <script src="/static/libs/ngstorage/ngStorage.min.js"></script>
        <!-- ui-bootstrap-tpls -->
        <script src="/static/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <!-- rzslider -->
        <script src="/static/libs/angularjs-slider/dist/rzslider.min.js"></script>
        <!-- tinyMCE -->
        <script src="/static/libs/tinymce/tinymce.min.js"></script>
        <script src="/static/libs/angular-ui-tinymce/src/tinymce.js"></script>
        <!-- main script-->
        <script src="/static/js/main/lang-extensions.js"></script>
        <script src="/static/js/main/config.js"></script>
        <script src="/static/js/main/directives.js"></script>
        <script src="/static/js/main/filters.js"></script>
        <script src="/static/js/main/resources.js"></script>
        <script src="/static/js/main/services.js"></script>
        <script src="/static/js/main/index.js"></script>
        <!-- google map -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCIRvXUjoE75h6s2tk5hIftawhWoFI_EeE"></script>

        <!-- scripts pages -->
        <script src="/static/generated/js/bundle.js"></script>

        <base href="/">
    </head>
    <body>
        <header ng-controller="navbar" id="header">
            <!-- верхняя навигация с соц. ссылками, корзиной, регистрацией и входом-->
            <div class="bs-top-navbar" id="Topnav">
                <ul class="topnav" id="ulTopnav">
                    <div class="left">
                        <li class="social-icon">
                            <a class="share" href="javascript:void(0);" ng-click="openSocialIcon()">
                                <span class="fa fa-share-alt"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/bilnt" class="vk">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube">
                                <span class="fa fa-youtube"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="google-plus">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </div>
                    <div class="right">
                        <li class="bs-liCart">
                            <a href="" ng-click="openCartDialog('lg')">
                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                                <span class="text-cart">Корзина</span>
                            </a>
                            <span class="numb">{{numberBooks}}</span>
                        </li>
                        <li id="btn-user" style="display: none">
                            <a href="" ng-click="openUser('md')">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <span class="text-user">{{ current_username }}</span>
                            </a>
                        </li>
                        <li id="btn-admin" ng-if="applicationState.auth.isAdmin()">
                            <a href="admin/" target="_blank">
                                <span class="fa fa-cog" aria-hidden="true"></span>
                                <span class="text-user">Администрирование</span>
                            </a>
                        </li>
                        <li id="btn-logout" style="display: none">
                            <a href="" ng-click="openLogoutDialog()">
                                <span class="fa fa-share" aria-hidden="true"></span>
                                <span class="text-share">Выход</span>
                            </a>
                        </li>
                        <li id="btn-registration">
                            <a href="" ng-click="openRegistrationDialog()">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <span class="text-user">Регистрация</span>
                            </a>
                        </li>
                        <li id="btn-login">
                            <a href="" ng-click="openLoginDialog()">
                                <span class="fa fa-share" aria-hidden="true"></span>
                                <span class="text-share">Вход</span>
                            </a>
                        </li>
                        <li class="service-icon">
                            <a href="javascript:void(0);" ng-click="openServiceIcon()">
                                <span class="fa fa-tasks"></span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- конец верхней навигации -->

            <!-- основная навигация по сайту-->
            <nav class="bs-main-navbar" id="Mainnav">
                <ul class="navbar" id="ulMainnav">
                    <li class="bs-negativeMargin">
                        <a ng-class="{ active: isActive('/home') }" href="home">
                            <span class="fa fa-bullhorn" aria-hidden="true"></span>
                            &nbspДомашняя
                        </a>
                    </li>
                    <li class="bs-negativeMargin">
                        <a ng-class="{ active: isActive('/store') }" href="store">
                            <span class="fa fa-book" aria-hidden="true"></span>
                            &nbspМагазин
                        </a>
                    </li>
                    <li class="bs-negativeMargin">
                        <a ng-class="{ active: isActive('/blog') }" href="blog">
                            <span class="fa fa-commenting" aria-hidden="true"></span>
                            &nbspБлог
                        </a>
                    </li>
                    <li class="bs-negativeMargin">
                        <a ng-class="{ active: isActive('/contact') }" href="contact">
                            <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                            &nbspКонтакты
                        </a>
                    </li>
                    <li class="bs-negativeMargin">
                        <a ng-class="{ active: isActive('/qna') }" href="qna">
                            <span class="fa fa-question-circle-o" aria-hidden="true"></span>
                            &nbspQ&A
                        </a>
                    </li>
                    <li class="bs-negativeMargin">
                        <a ng-class="{ active: isActive('/about-us') }" href="about-us">
                            <span class="fa fa-users" aria-hidden="true"></span>
                            &nbspО нас
                        </a>
                    </li>
                    <li class="icon">
                        <a href="javascript:void(0);" style="font-size:15px;" ng-click="openNavbar()">☰</a>
                    </li>
                </ul>
                <div class="bs-carousel">
                    <!-- start carousel -->
                    <div ng-controller="newsController as newBooks">
                        <div class="slideshow-container">
                            <div class="mySlides bs-fadeSlide">
                                <div class="numbertext">1 / 3</div>
                                <img class="bs-slideImg" src="/static/img/new-book-1.jpg" style="width:100%">
                            </div>
                            <div class="mySlides bs-fadeSlide">
                                <div class="numbertext">2 / 3</div>
                                <img class="bs-slideImg" src="/static/img/new-book-2.jpg" style="width:100%">
                            </div>
                            <div class="mySlides bs-fadeSlide">
                                <div class="numbertext">3 / 3</div>
                                <img class="bs-slideImg" src="/static/img/new-book-3.jpg" style="width:100%">
                            </div>
                            <a class="prev" ng-click="newBooks.plusSlides(-1)">&#10094;</a>
                            <a class="next" ng-click="newBooks.plusSlides(1)">&#10095;</a>
                        </div>
                        <div class="bs-slideshow-dots">
                            <span class="dot" ng-click="newBooks.currentSlide(1)"></span>
                            <span class="dot" ng-click="newBooks.currentSlide(2)"></span>
                            <span class="dot" ng-click="newBooks.currentSlide(3)"></span>
                        </div>
                    </div>

                    <!-- end carousel -->
                </div>
            </nav>
            <!-- конец основной навигации -->
        </header>
        <!-- конец header -->

        <main id="main" style="margin-bottom: 100px;" site-dynamic-content>
            <div ng-view></div>
        </main>

        <!-- пока только шаблон! -->
        <footer id="footer" class="bs-footer" site-footer>
            <a href="#main">
                <i class="fa fa-sort-asc" aria-hidden="true"></i>
            </a>
            <br>
            <br>
            <p>
                © Copyright 2017 Library 2.1
            </p>
        </footer>

    </body>
</html>
