.bs-blog-entry-read-more
{
    font-size: medium;
    font-weight: bold;

    float: left;

    width: 50%;
    height: 100%;
    padding-top: 15px;

    text-align: center;
    text-decoration: none;

    color: #3f3f3f;
}

.bs-blog-entry-read-more:hover
{
    text-decoration: none;

    background: rgba(20, 20, 20, .1);
}

.bs-blog-entry-read-more span
{
    visibility: hidden;

    margin-left: 10px;
}

.bs-blog-entry-read-more:hover span
{
    visibility: visible;
}

.bs-blog-entry-date
{
    float: right;

    padding: 15px;
}

.bs-blog-entry-item
{
    box-shadow: 0 8px 5px rgba(0,0,0,.3);
}

.bs-blog-entry-header
{
    font-style: italic;

    text-align: center;
    white-space: nowrap;
}

.bs-blog-entry-description
{
    font-size: medium;
    font-style: italic;

    overflow: hidden;

    height: 130px;
    padding-left: 0;

    text-overflow: ellipsis;
}

.bs-blog-entry-author
{
    font-size: x-small;

    height: 32px;

    background: rgba(60, 60, 60, .1);
}

.bs-blog-entry-author div
{
    padding-left: 0;
}

.bs-blog-entry-author a
{
    font-size: 2em;

    height: 100%;

    text-decoration: none;
}

.bs-blog-entry-author:hover a
{
    text-decoration: none;
}

.bs-blog-entry
{
    border-radius: 5px;
    background-color: #fff;
}

.bs-blog-entry #description-container
{
    padding-left: 0;
}

.bs-blog-entry-footer
{
    height: 50px;
    margin-top: 15px;

    background: rgba(60, 60, 60, .1);
}
