/*template (raw) button*/

.bs-btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 15px 20px 15px 60px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: inherit;
    border: none;
    outline: none;
    background: none;
}

.bs-btn::after {
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.bs-btn::before {
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    position: relative;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.btn-small {
    font-size: 10pt;
    padding: 10px 5px 10px 40px;
}

.btn-small:before {
    line-height: 2.7 !important;
    width: 35px !important;
}


/*button service*/

.btn-service {
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    background: #3f3f3f;
}

.btn-service:before {
    font-family: FontAwesome;
    line-height: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.btn-service:hover {
    color: #fff;
    border-color: #fff;
    background: #8bc34a;
}

.btn-shl:hover {
    background: #ced23a;
}

.btn-shd:hover {
    background: #cb5ef4;
}

.btn-service:active {
    top: 2px;
    opacity: .5;
}


/*border radius*/

.br-4 {
    border-radius: 4px;
}

.br-4:before {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}

.br-8:before {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.br-12 {
    border-radius: 12px;
}

.br-12:before {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.br-16 {
    border-radius: 16px;
}

.br-16:before {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}


/*border width*/

.bw-1 {
    border-width: 1px;
}

.bw-2 {
    border-width: 2px;
}

.bw-3 {
    border-width: 3px;
}

.bw-4 {
    border-width: 4px;
}


/*content for service*/

.btn-cart:before {
    content: '\f07a';
}

.btn-setting:before {
    content: '\f013';
}

.btn-message:before {
    content: '\f0e0';
}

.btn-password:before {
    content: '\f084';
}
