.bs_contact {
    margin: auto;
}

#googleMap {
    width: 100%;
    height: 400px;
}

.bs_paddingTop {
    padding-top: 15px;
}

.bs_contactData {
    background-color: #ffffff;
}

.bs_btn-send {
    margin-right: 15px;
}
