.bs_contact
{  
    margin: auto;
}

#googleMap
{
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
}

.bs_paddingTop
{
    padding-top: 15px;
}

.bs_contactData {
	background-color: #e5e2e2;
}
