.bs_newsBooks {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  pargin-bottom: 10px;
}

.bs_newBook {
  display: inline-block;
  border: 1px solid #8bc34a;
}

.bs_newBookImage {

}

.bs_newBookTitle {
  text-align: center;
}

.bs_newBookAuthor {
  text-align: center;
}

a.bs_dates {
  text-align: start;
  outline: none;
  text-decoration: none;
  color: #989079;
}

a.bs_dates:hover {
  color: #322343;
}

a.bs_dates:before {
  content: ">";
}

a.bs_dates {
  display: block;
}

.bs_news {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.article-info {
  margin: 0;
  width: 85%;
}

.article-info-term {
  display: none;
}

.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}

.author-news {
  text-align: right;
}

.author {
  padding: 10px;
}

article.bs_newsArticle {
  text-indent: 20px;
}