/* не особо то и работает тут*/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

#modalDialog-bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}

#modalDialog {
	position: fixed;
	width: 320px;
	left: 50%;
	margin-left: -150px;
	margin-top: 5%;
	padding: 15px;
	background: white;
}

.bs_modal-header {
	text-align: right;
}

.bs_modal-footer {
	text-align: center;
	padding: 5px;
}

.bs_btn {
	width: 100%;
	padding: 5px;
	margin: 5px;
}

/* input */

.bs-input {
	display: inline-block;
	position: relative;
	margin: 5px;
}

.bs-input-label {
	display: inline-block;
	position: relative;
	background-color: #20b4ea;
	color: #111111;
	text-align: center;
	padding: 15px;
	min-width: 50px;
}

.bs-input-field {
	position: relative;
	border: none;
	border-radius: 0px;
	background: #f3efef;
	color: #ffffff;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	padding: 9px;
	font-size: 150%;
	max-width: 230px;
}

.bs-label-account {
	float: left;
}

.bs-input-account {
	display: block;
	float: right;
}

/*Псевдоэлементы*/


/*Псевдоклассы*/
.bs-input-account:focus {
	color: #105f7b;
	outline: none;	
}

.bs-input-account:focus + .bs-label-account > .fa-user {
	-webkit-animation: icon-scale 0.3s forwards;
	animation: icon-scale 0.3s forwards;
}

.bs-input-account:focus + .bs-label-account > .fa-key {
	-webkit-animation: icon-scale 0.3s forwards;
	animation: icon-scale 0.3s forwards;
}

@-webkit-keyframes icon-scale {
	50% {
		-webkit-transform: scale(1.3);
	}
	75% {
		-webkit-transform: scale(1.4);
	}
	100% {
		color: #ffffff;
		-webkit-transform: scale(1.5);
	}
}

@keyframes icon-scale {
	50% {
		transform: scale(1.3);
	}
	75% {
		transform: scale(1.4);
	}
	100% {
		color: #ffffff;
		transform: scale(1.5);
	}
}

/* end input */