.bs_section {
    padding-top: 35px;
    padding-bottom: 35px;
     /* The image used */
    background-image: url('/static/img/bg3.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
