aside div {
	/*border: 2px solid #ffff11;*/
}

.minicart-button {
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}

.card {
	border: none;
	border-radius: 0;
	padding: 5px;
	padding-bottom: 25px;
	text-align: center;
} 

.btn-card {
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	font-size: 26px;
	background-color: #ddd;
	color: #fff;
	border: 5px solid #fff;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -30px;
	transition: background-color 1s;
}

.btn-card:hover {
	background-color: #61cf94;
	border-color: #fff;
}

.container {
	margin-top: 20px;
}

.pagination {
	display: inline-block;
}

.pagination:after {
	content: " ";
	display: table;
	clear: both;
}

.pagination li {
	cursor: pointer;
}

.pagination-wrap {
	text-align: center;
}

.btn-primary {
	background-color: #a0ce4e;
	border: none;
    box-shadow: 0px 3px #649014;
}

#store-cart {
    background-color: #ecf0f1;
    padding: 30px;
    color: #1b1d2a;
    text-align: center
}

.cart {
	text-align: center;
	width: 100%;
}

.cart-title {
	background: #a0ce4e;
    border-bottom: 2px solid #649014;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
}

.sidebar-left {


}

#price-bg {
	padding: 25px;
	background-color: #dfefc3;
}

.price-title {
	text-align: center;
	background: #a0ce4e;
    border-bottom: 2px solid #649014;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
}

.price {
 	width: 100%;
	clear: both;
	margin-bottom: 40px;
}

.categories-title {
	text-align: center;
	background: #a0ce4e;
    border-bottom: 2px solid #649014;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
}

.categories {
  	width: 100%;
	margin-bottom: 40px;
}

.sort {
	position: relative;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 20px;
	background-color: #b3b3b3;
	color: #000000;
	border-color: #ffffff;
	border-radius: 10px;
	height: 30px;
	text-align: left;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-top: 5px;
    font-size: 14px;
}

main div {
	/*border: 2px solid #ff1111;*/
}

.caption {
    height: 120px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.caption p {
	height: 100%;
	margin-bottom: 10px;
}

.thumbnail img {
    width: 100%;
}

.ratings {
	margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

#inline li {
	margin: 10px;
	display: inline-block;
}

body {
	font-family: 'Open Sans', sans-serif !important;
	background: url("../img/main-bg.png");
}

header a:hover {
	color: #ceefb8;
	text-decoration: none;
}

header a {
	color: #66be2c;
}

header ul li a:hover i {
	color: #ceefb8;
}



small {
	color: #ffffff;
	/*padding-bottom: 30px;*/
}

.pagers {
}

