/* main group */
.bs_sortGroup
{
    float: right;

    margin-bottom: 10px;
    padding: 7px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* dropdowns */
.dropbtn
{
    font-size: 16px;

    cursor: pointer;

    color: white;
    border: none;
    background-color: #8bc34a;
}

.dropbtn:hover
{
    background-color: #3e8e41;
}

.dropdown-content a
{
    display: block;

    text-decoration: none;

    color: black;
}

.dropdown-content a:hover
{
    background-color: #f1f1f1;
}

.dropdown
{
    position: relative;
    z-index: 10;

    display: inline-block;
}

.dropdown-content
{
    position: absolute;

    display: none;

    min-width: 160px;

    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropbtn
{
    background-color: #3e8e41;
}

/* если с помощью скриптов */
/* .show {display:block !important;} */

/* chips */
.bs_chip
{
    font-size: 16px;

    display: inline-block;

    height: 25px;
    padding: 0 15px;

    color: #fff;
    border-radius: 20px;
    background-color: #c5d20a;
}

.bs_chips
{
    display: inline-block;

    margin-left: 10px;
}

.bs_iconChip
{
    font-size: 16px;
    font-weight: bold;

    float: right;

    padding-left: 10px;

    color: #fff;
}

.bs_chipsCategories
{
    margin-bottom: 10px;
}
