/* Книги в виде "card"-элемента */

.card {
    margin-bottom: 30px;
    padding: 5px;
    padding-bottom: 25px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

div.card-block p {
    margin: 0;
}

.btn-card {
    font-size: 26px;
    position: absolute;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    padding: 0;
    transition: background-color 1s;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
}

.btn-card:hover, .btn-card:active {
    border-color: #fff;
    outline: none;
    background-color: #a874b1;
}

.btn-card:focus {
    outline: none;
}

.btn-card:visited {
    /* когда добавлен элемент в корзину */
}


/* только для визуального эффекта */

.bs_btnCardActive {
    color: #2b2b2b;
}

.img-fluid {
    width: 100%;
    border-radius: 10px;
}


/* Конец книги в виде "карт"-элемента */


/* Пагинация */

.pagination {
    display: inline-block;
}

.pagination:after {
    display: table;
    clear: both;
    content: ' ';
}

.pagination li {
    cursor: pointer;
}

.pagination-wrap {
    text-align: center;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    z-index: 2;
    cursor: default;
    color: #fff;
    border-color: #5ab15a;
    background-color: #5ab15a;
}


/* Конец пагинации */


/* Aside: категории, ползунок цены, корзина */


/* слайдер цены */

.rzslider .rz-pointer {
    z-index: 3;
    top: -7px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    outline: none;
    background-color: #0db9f0;
    background-color: #8bc34a;
}

.rzslider .rz-bar.rz-selection {
    z-index: 2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #8bc34a;
}

.rzslider .rz-pointer:after {
    display: none;
}

div.bs_priceInputs {
    display: inline-block;
    text-align: center;
}

div.bs_priceInputs input {
    max-width: 34%;
}


/* категории */

div.bs_clearFilterCategories {
    text-align: center;
}

div.bs_clearFilterCategories>a {
    font-size: 1em;
    text-decoration: none;
    color: #989079;
    display: inline-block;
    width: 100%;
    height: 100%;
}

div.bs_clearFilterCategories > a:hover
{
    background-color: rgba(128, 128, 128, 0.4);
}

label.bs_label {
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-left: 25px;
    cursor: pointer;
}

label.bs_label:before {
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    content: '';
    background-color: #e0ded5;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
}

input.bs_check[type=checkbox]:checked+label.bs_label:before {
    font-size: 15px;
    line-height: 15px;
    content: '\2713';
    text-align: center;
    color: #2b2b2b;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.checkbox label.bs_label:before {
    border-radius: 3px;
}

input.bs_check[type=checkbox] {
    display: none;
}


/* корзина */


/* Конец aside: категории, ползунок цены, корзина */
