div.bs_bgUserInfo
{
    padding: 10px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 5px rgba(0,0,0,.3);
}

.bs_user
{
    margin: 0;
}

div.bs_profile
{
    float: left;
}

div.bs_profileImage
{
    position: relative;
}

div.bs_profileImage a
{
    font-size: 1.5em;

    position: absolute;
    top: 0;
    right: 0;

    display: none;
    z-index: 10;
    color: #111;
    background-color: #fff;
}

div.bs_profile img
{
    max-width: 100%;

    border-radius: 10px;
}

button.bs_btnLoadImage
{
    margin-top: 10px;
}

div.bs_infoUser
{
    display: inline-block;
}

p.description
{
    font-family: 'gabriola', sans-serif;

    text-align: left;
    text-indent: 20px;
}

strong
{
    display: block;
}

strong.bs_aboutSelf
{
    display: inline-block;
    float: left;
}
