<!DOCTYPE html>

{% load staticfiles %}
<!--TODO: use CDN-->
<script src="{% static "js/libs/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/libs/jquery-ui.min.js" %}"></script>
<script src="{% static "js/libs/angular.min.js" %}"></script>
<script src="{% static "js/libs/angular-route.min.js" %}"></script>
<script src="{% static "js/libs/angular-animate.min.js" %}"></script>
<script src="{% static "js/libs/angular-touch.min.js" %}"></script>
<script src="{% static "js/libs/ui-bootstrap-tpls-1.3.3.min.js" %}"></script>
<script src="{% static "js/libs/bootstrap.min.js" %}"></script>
<script src="{% static "js/lang-extensions.js" %}"></script>
<script src="{% static "js/directives.js" %}"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<link href="{% static "css/index.css" %}" rel="stylesheet">
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<html>
    <head>
        <title>Book Store</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app="BookStoreApp" ng-controller="rootController">
        <header id="header">
            <nav class="topbar-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-sx-12 pull-left">
                            <ul id="inline">
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sx-12 pull-right">
                            <ul id="inline">
                                <li><a href="" ng-click="openCart()"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Регистрация</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Вход</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <nav class="navbar navbar-inverse" site-navigation-bar>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img alt="Brand" src="../static/img/logo-flag.png" width="60" height="55"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="Navbar">
                        <ul id="navbar-tabs" class="nav navbar-nav">
                            <li id="navbar-tab-home">       <a href="#home"><span class="fa fa-home" aria-hidden="true"></span>&nbspДомашняя</a></li>
                            <li id="navbar-tab-contacts">   <a href="#contact"><span class="fa fa-volume-control-phone" aria-hidden="true"></span>&nbspКонтакты</a></li>
                            <li id="navbar-tab-shop">       <a href="#shop"><span class="fa fa-book" aria-hidden="true"></span>&nbspМагазин</a></li>
                            <li id="navbar-tab-qna">        <a href="#qna"><span class="fa fa-question-circle-o" aria-hidden="true"></span>&nbspQ&A</a></li>
                            <li id="navbar-tab-support">    <a href="#support"><span class="fa fa-american-sign-language-interpreting" aria-hidden="true"></span>&nbspПоддержать проект</a></li>
                            <li id="navbar-tab-blog">       <a href="#blog"><span class="fa fa-commenting" aria-hidden="true"></span>&nbspБлог</a></li>
                            <li id="navbar-tab-about-us">   <a href="#about-us"><span class="fa fa-users" aria-hidden="true"></span>&nbspО нас</a></li>
                        </ul>

                        <form class="navbar-form text-center" role="search" id="search-bar">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Найти книгу...">
                            </div>
                            <button type="submit" class="btn btn-default">Поиск</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <div id="main" site-dynamic-content>
            <div ng-view></div>
        </div>
        <footer id="footer" class="text-center" site-footer>
            <a class="up-arrow" href="" ng-click="goUp()" data-toggle="tooltip" data-placement="top" title="Наверх">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a><br><br>

            <div class="col-md-12">
                <small>Copyright 2016 @ Library 2.1. All Rights Reserved.</small>
            </div>
        </footer>
        <script>
            $(document).ready(function(){
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();
            })
        </script>
        <script src="/static/js/index.js"></script>
    	<script src="/static/js/shop.js"></script>
        <script src="/static/js/contact.js"></script>
        <script src="/static/js/about-us.js"></script>
        <script src="/static/js/cart.js"></script>
        <script src="/static/js/product-details.js"></script>
        <script src="/static/js/blog.js"></script>
    </body>
</html>