.bs-person-caption {
    background-color: #2b2b2b;
    text-align: center;

    h4, p {
        color: white;
        margin-top: 20px;
    }

    p {
        text-align: left;
    }
}

.card-person-social-icons {
    list-style: none;
    display: block;
    width: 200px;
    margin: 10px auto;
}

.card-person-social-icon {
    display: inline-block;

    a {
        color: white;
        text-align: center;
        padding: 10px 15px;
    }
}
