.bs-bg-aside {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.bs-title-aside-elem > h5 {
    margin: 0;
    padding: 8px;
    letter-spacing: 2px;
    color: #323444;
    background-color: #dddddd;
}

.bs-body-aside-elem {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #efefef;
}
