.bs-blog-caption {
    .bs-blog-caption-header {
        font-weight: 400;
        font-size: 24px;
    }
}

.bs-blog-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .bs-blog-author {
        margin: auto 10px auto 0;
    }

    .bs-blog-author-name {
        font-size: 19px;
        letter-spacing: 1px;
        vertical-align: middle;
    }

    .bs-blog-time {
        margin: auto 0;
        font-size: 15px;
    }
}

.bs-blog-description {
    margin-top: 10px;
    font-size: 15px;
    text-indent: 25px;
}

.bs-blog-read-more {
    margin-top: 25px;
    margin-bottom: 18px;

    .bs-blog-read-more-link {
        padding: 14px 10px;
        color: black;
        border: 1px solid black;
    }

    .bs-blog-read-more-link:hover {
        color: black;
        text-decoration: none;
        background-color: #f5f5f5;
    }
}
