div.bs-cart {
    position: absolute;
    top: 55px;
    right: 10px;
    display: none;
    margin: 0;
    padding: 0;
}

div.bs-headCart {
    position: absolute;
    top: 35px;
    right: 210px;
    display: none;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 20px solid orange;
    border-left: 50px solid transparent;
}

div.bs-footerCart {
    position: inherit;
    right: 0;
    width: 300px;
    color: #607d8b;
    background-color: #111;
}

div.bs-cartContent {
    margin-bottom: -15px;
}

div.bs-media {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.media-left {
    padding-right: 10px;
}

.media-body {
    color: white;
}

span.bs-price {
    float: right;
    margin-right: 20px;
}

li.bs-bodyCart {
    width: 300px;
    list-style-type: none;
    background-color: #607d8b;
}
