.bs-contact {
    margin: auto;
}

#googleMap {
    width: 100%;
    height: 400px;
}

.bs-paddingTop {
    padding-top: 15px;
}

.bs-contactData {
    background-color: #ffffff;
}

.bs-btn-send {
    margin-right: 15px;
}
