.bs-map {
    background-color: #8bc34a;
    padding: 5px;
}

#googleMap {
    width: 100%;
    height: 400px;
}

.bs-contact-data {
    background-color: #ffffff;
}

.bs-button-send-wrapper {
    text-align: right;
    margin-top: 10px;

    .bs-button-send {
        background-color: #8bc34a;
        border-color: #8bc34a;
    }

    .bs-button-send:hover {
        background-color: #449d44;
    }
}

.bs-contact-inputs {
    display: flex;
    justify-content: space-between;
}

.bs-contact-input {
    width: 49%;
}

.bs-contact-textarea {
    width: 100%;
}
