.bs-newsBooks {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.bs-slideshow-dots {
    text-align: center;
    margin: 10px 0;
}

.bs-newBook {
    display: inline-block;
    border: 1px solid #8bc34a;
}

.bs-newBookTitle {
    text-align: center;
}

.bs-newBookAuthor {
    text-align: center;
}

a.bs-dates {
    text-align: start;
    text-decoration: none;
    color: #989079;
    outline: none;
}

a.bs-dates:hover {
    color: #322343;
}

a.bs-dates:before {
    content: '>';
}

a.bs-dates {
    display: block;
}

.bs-news {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.article-info {
    width: 85%;
    margin: 0;
}

.article-info-term {
    display: none;
}

.article-info dd {
    display: inline-block;
    margin-right: 10px;
    margin-left: 0;
    white-space: nowrap;
}

.author-news {
    text-align: right;
}

.author {
    padding: 10px;
}

article.bs-newsArticle {
    text-indent: 20px;
}
