$color-nav-background: rgba(0, 0, 0, 0.1);
$color-nav-link: rgba(0, 0, 0, 0.2);
$color-nav-link-hover: rgba(0, 0, 0, 0.4);
$height-background-cover: 500px;

/* Верхняя навигация */
.bs-top-navbar {
    background-color: #2b2b2b;
}

.left, .right {
    display: inline-block;
}

.left {
    float: left;
    text-align: center;
}

.left a.vk {
    padding-right: 13px;
    padding-left: 13px;
}

.left a.instagram {
    padding-right: 14px;
    padding-left: 14px;
}

.left a.youtube {
    padding-right: 14px;
    padding-left: 14px;
}

.left a.google-plus {
    padding-right: 12px;
    padding-left: 12px;
}

ul.topnav li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 3px;
    content: '';
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-color: rgb(238, 176, 19);
}

ul.topnav li a:hover {
    color: rgb(238, 176, 19) !important;
}

ul.topnav li a:hover::after {
    width: 100%;
}

.right {
    float: right;
    letter-spacing: 2px;
}

.bs-liCart {
    position: relative;
}

.bs-liCart .numb {
    line-height: 14px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: -6px;
    width: 16px;
    height: 16px;
    margin: 1px auto;
    padding: 1px 0 0 2px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #eeb013;
}

ul.topnav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.topnav li {
    display: inline-flex;
}

ul.topnav li a {
    font-size: 12px;
    position: relative;
    float: left;
    padding: 8px;
    text-decoration: none;
    color: white;
}

ul.topnav li a:hover {
    background-color: #4d4e4e;
}

ul.topnav li.social-icon {
    display: none;
}

ul.topnav li.service-icon {
    display: none;
}

@media screen and (max-width:680px) {
    .left a.share {
        padding-right: 14px;
        padding-left: 14px;
    }
    .left a.google-plus {
        padding: 11.5px;
    }
    .left a.vk {
        padding: 12.5px;
    }
    ul.topnav div.left li {
        display: none;
    }
    ul.topnav div.left li.social-icon {
        display: inline-block;
        float: left;
    }
    ul.topnav.resleft div.left {
        position: absolute;
        z-index: 10;
    }
    ul.topnav.resleft div.left li {
        display: block;
        float: none;
    }
    ul.topnav.resright div.right {
        position: absolute;
        z-index: 10;
        right: 0;
    }
    ul.topnav.resright div.right li {
        display: block;
        float: none;
    }
    ul.topnav.resright div.right li a {
        width: 100%;
        background-color: #a2a2a2;
    }
    ul.topnav.resright div.right li.service-icon a {
        background-color: #2b2b2b;
    }
    span.text-user, span.text-cart, span.text-share {
        display: none;
    }
}

@media screen and (max-width:300px) {
    ul.topnav div.right li {
        display: none;
    }
    ul.topnav div.right li.service-icon {
        display: inline-block;
        float: right;
    }
}


/* конец верхней навигации */


/* logo */

li.logo-text {
    vertical-align: bottom;
    margin: auto;
    color: #ffffff;
}


/* конец logo */

.mySlides {
    display: none;
}

.bs-carousel {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 26px;
    margin-left: 15px;
    width: 42%;
    float: left;
}

img.bs-slideImg {
    height: 350px;
    max-height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.next, .prev {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 0 3px 3px 0;
    font-size: 18px;
    font-weight: bold;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover, .prev:hover {
    color: #ffffff;
    background-color: $color-nav-link-hover;
    text-decoration: none;
}

.text {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 8px 12px;
    text-align: center;
    color: #f2f2f2;
    font-size: 15px;
}

.numbertext {
    position: absolute;
    top: 0;
    padding: 8px 12px;
    color: #f2f2f2;
    font-size: 12px;
}

.dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
}

.activeSlide,
.dot:hover {
    background-color: #8bc34a !important;
}

.bs-fadeSlide {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 1500px) {
    img.bs-slideImg {
        max-height: initial;
    }

    .slideshow-container {
        max-width: initial;
    }
}

@media only screen and (max-width: 300px) {
    .next,
    .prev,
    .text {
        font-size: 11px;
    }
}

/* основная навигация */

.active {
    background-color: $color-nav-link;
}

.bs-main-navbar {
    background: url(../../img/bg.jpg) no-repeat center;
    background-size: cover;
    height: $height-background-cover;
}

ul.navbar {
    border: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: $color-nav-background;
}

ul.navbar li {
    display: inline-block;
}

ul.navbar li a {
    font-size: 17px;
    display: inline-block;
    padding: 17px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: white;
}

ul.navbar li a:hover {
    background-color: $color-nav-link-hover;
}

ul.navbar li.icon {
    display: none;
}

/* поддержть проект */
div.supportDiv {
    display: none;
    width: 256.5px;
    background-color: #3d823d;
}
/* конец поддержать проект */

@media screen and (max-width:680px) {
    ul.navbar li:not(:first-child) {
        display: none;
    }
    ul.navbar li.icon {
        display: inline-block;
        float: right;
    }
}

@media screen and (max-width:680px) {
    ul.navbar.responsive {
        position: relative;
    }
    ul.navbar.responsive li.icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.navbar.responsive li {
        display: inline;
        float: none;
        margin-right: 0;
    }
    ul.navbar.responsive li a {
        display: block;
        text-align: left;
    }
    /* не работает какого то хрена!*/
    ul.navbar.responsive li.about-usLi:hover {
        background-color: #3d823d !important;
    }
    ul.navbar.responsive li.about-usLi:hover>div.supportDiv {
        /* ширина должна быть как у родителя! */
        min-width: 550px;
    }
}
/* конец основной навигации */

/* начало футера */
footer.bs-footer {
    position: fixed;
    bottom: -85px;
    z-index: 3;
    width: 100%;
    text-align: center;
    color: #f5f5f5;
    background-color: #2b2b2b;
    height: 100px;
}

footer.bs-footer a {
    color: #f5f5f5;
}

footer.bs-footer a:hover {
    text-decoration: none;
    color: #777;
}
/* конец футера */
