$color-close-modal-dialog-button: #898E8C;
$color-modal-form-items: #4F84C4;
$color-modal-form-items-hover: #526d8e;

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.bs-modal-dialog-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
}

.bs-modal-dialog {
    position: fixed;
    left: 50%;
    width: 320px;
    margin-top: 5%;
    margin-left: -150px;
    padding: 15px;
    background: white;
}

.bs-circle-button {
    border: 4px solid white;
    font-size: 2em;
    position: absolute;
    top: -30px;
    right: -35px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 45%;
    outline: 0;
    background-color: $color-close-modal-dialog-button;
    color: #fff;
}

.bs-circle-button:focus {
    outline: 0;
}

.bs-circle-button-cart {
    top: -20px;
    right: -25px;
}

.bs-modal-header {
    position: relative;
    text-align: right;
}

.bs-modal-content {
    padding-top: 35px;
}

.checkbox {
    box-sizing: border-box;
    margin-left: 5px;
}

.bs-label {
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-left: 25px;
    cursor: pointer;
}

.bs-label::before {
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    content: '';
    background-color: #e0ded5;
}

input.bs-check[type=checkbox]:checked+label.bs-label:before {
    font-size: 15px;
    line-height: 15px;
    content: '\2713';
    text-align: center;
    color: #2b2b2b;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.checkbox .bs-label::before {
    border-radius: 3px;
}

input.bs-check[type=checkbox] {
    display: none;
}

.bs-modal-footer {
    padding: 5px;
    text-align: center;
}

.bs-button-modal {
    width: 100%;
    margin: 10px auto;
    padding: 8px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-color: $color-modal-form-items;
    color: white;
}

.bs-button-modal:hover {
    background-color: $color-modal-form-items-hover;
}

.bs-input {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    height: 50px;
}

.bs-input-label {
    min-width: 50px;
    color: white;
    background-color: $color-modal-form-items;
    display: flex;
    height: 100%;

    .bs-input-label-icon {
        margin: auto;
    }
}

.bs-input-field {
    outline: none;
    padding-left: 20px;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #f3efef;
}

.ng-invalid {
    border-color: #e20909;
}
