img.bs-book {
    outline-width: 10px;
    outline-color: #2c2c2c;
    outline-offset: 3px;
    outline-style: inset;
}

.bs-description {
    float: left;
    text-indent: 20px
}

p.bs-price {
    margin-top: 20px;
}

.info-book {
    text-align: center;
    margin-top: 20px;
}

.bs-status {
    color: green;
}

.bs-btn-right {
    float: right;
}

table {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
    font-size: 15px;
    border-collapse: collapse;
    text-align: left;
}

td {
    padding: 6px;
}
