.bs-accordion {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: #444444;
    border: none;
    outline: none;
    background-color: #efefef;
}

.bs-accordion:hover {
    color: white;
    background-color: #a9a2ab;
}

.bs-qna-panel {
    overflow: hidden;
    max-height: 500px;
    padding: 0 18px;
    background-color: #bfbfc1;
    color: white;

    .bs-qna-panel-text {
        padding: 10px;
        margin: 0;
    }
}
