button.accordion {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: left;
    color: #444444;
    border: none;
    outline: none;
    background-color: #eeeeee;
}

button.accordion.active,
button.accordion:hover {
    color: white;
    background-color: #a9a2ab;
}

button.accordion:hover::after {
    color: white;
}

button.accordion::after {
    font-size: 13px;
    float: right;
    margin-left: 5px;
    content: "\02795";
    color: #777777;
}

button.accordion.active::after {
    content: "\2796";
    color: white;
}

.bs-qna-panel {
    overflow: hidden;
    max-height: 500px;
    padding: 0 18px;
    transition: 0.3s all ease;
    opacity: 1;
    background-color: white;
}

p {
    padding-top: 10px;
}
