$color-tab-caption: #bfbfbf;
$color-tab-add-hover: #6161e2;

.bs-container {
    width: 100%;
}

.bs-section {
    height: 100%;
}

.bs-tab {
    padding: 20px;
}

.bs-tab-caption {
    color: $color-tab-caption;
    display: block;
    font-size: 23px;
    border-left: 5px double $color-tab-caption;
    padding-left: 10px;
    margin-bottom: 10px;
}

.bs-tab-add-button {
    font-size: 17px;
    padding: 5px;
    text-align: center;
    color: $color-tab-caption;
    display: block;
}

.bs-tab-add-button:hover {
    color: $color-tab-add-hover;
    text-decoration: none;
}
