.bs-sort-group {
    text-align: center;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #efefef;
}

.dropbtn {
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #8bc34a;
    padding: 5px;
}

.dropbtn:hover {
    background-color: #3e8e41;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    min-width: 120px;
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.bs-chip {
    display: inline-block;
    padding: 3px 15px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #6b8ec1;
}

.bs-chips {
    display: inline-block;
    margin-left: 10px;
}

.bs-iconChip {
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding-left: 10px;
    color: #fff;
}

.bs-chipsCategories {
    margin-bottom: 10px;
}
