<link rel="stylesheet" type="text/css" href="/static/qna/qna.css">
<link rel="stylesheet" type="text/css" href="/static/css/section.css">

<section class="bs_section">
    <div class="container">
        <div class="bs_tab">
            <div class="bs_tab_caption">Частые вопросы</div>
            <div ng-repeat="question in $ctrl.questions">
                <button class="accordion" ng-click="isOpen = !isOpen">{{question.title}}</button>
                <div class="panel" ng-show="isOpen">
                    <p>{{question.content}}</p>
                </div>
            </div>        
        </div>
    </div>
</section>
